$c: cadetblue;

.event {
    // height: 100vh;
     width: 80%;
    margin: 80px auto;

    .title {
        text-align: center;
        font-size: 24px;

     h1{
        color: $c;
     }
    }
}

.event .row {
    // margin-top: 70px;
    margin-top: 0px;
    //    margin-top: -54px;
}


.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    


    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        padding: 0 26px;

        h2 {
          
            color: $c;
            margin-top: 25px;

        
        }
    }
}





.col img {
    width: 90%;
    height: 60vh;
}

.col .btn {
    border: 1px solid $c;
    border-radius: 5px;
    background-color: dodgerblue;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-top: 25px;

}

.col .btn:hover {
    background-color: transparent;
    color: dimgray;
}




// RESPONSIVE

