$bgsize: cover;
$bgposi: center;
$navbg: #022f69;
$cl: #fff;
$c:cadetblue;



nav {
    background: $navbg;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;

      ul {
        float: right;
        margin-right: 20px;


          li {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;

               a {
                color:$cl;
                font-size: 17px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;

           
            }
        }
    }
}


a:hover{
    background-color: $cl;
    transition: .5s;
    color: $navbg;
}


label.logo {
    color: $cl;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


.checkbtn {
    font-size: 30px;
    color: $cl;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}





// RESPONSIVE NAVBAR

// @media (max-width: 968px) {
//     label.logo {
//         font-size: 30px;
//         padding-left: 50px;
//         position: fixed;
//     }

//     nav ul li a {
//         font-size: 16px;
//     }
// }




// @media (max-width: 875px) {
//     .checkbtn {
//         display: block;
//     }



//     nav ul {
//         position: fixed;
//         width: 100%;
//         height: 100vh;
//         background: #27282c;
//         top: 80px;
//         left: -100%;
//         text-align: center;
//         transition: all .5s;
//         position: fixed;
//         top: 80px;
//         z-index: 3;
  

//         li {
//             display: block;
//             margin: 50px 0;
//             line-height: 30px;
     
//             a {
//                 font-size: 20px;    
//             }
//         }

//     }

//     a.hover {
//         background: none;
//         color: #0082e6;
//     }

//     #check:checked~ul {
//         left: 0;
//     }



//     .event .title h1 {
//         color: green;
//     }
// };




