nav {
  background: #022f69;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #022f69;
}

label.logo {
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 968px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
    position: fixed;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 875px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #27282c;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    position: fixed;
    top: 80px;
    z-index: 3;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.hover {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.content-items img {
  -webkit-width: 100%;
  -moz-width: 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#data {
  position: absolute;
  bottom: 20%;
  -webkit-width: 100%;
  -moz-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#data .head {
  color: #fff;
  padding: 20px 0;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.event {
  height: 100vh;
  width: 80%;
  margin: 80px auto;
}
.event .title {
  text-align: center;
  font-size: 24px;
}
.event .title h1 {
  color: cadetblue;
}

.event .row {
  margin-top: 70px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.row .col h2 {
  color: cadetblue;
  margin-top: 25px;
}
.row .col h2 p {
  color: darkgrey;
  padding: 15px 0px;
}

.col img {
  width: 90%;
  height: 60vh;
}

.col .btn {
  border: 1px solid cadetblue;
  border-radius: 5px;
  background-color: dodgerblue;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.col .btn:hover {
  background-color: transparent;
  color: dimgray;
}

.explore {
  -webkit-width: 100%;
  -moz-width: 100%;
  width: 100%;
  height: 100vh;
  background-image: url(https://media.worldnomads.com/shareimages/home-1200x630.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.explore .explore-content {
  margin-top: 10%;
  width: 100%;
  padding: 50px;
  color: white;
}
.explore .explore-content h1 {
  font-size: 40px;
  margin: 50px;
}

.explore-content p {
  font-size: 25px;
  margin-left: 55px;
  padding-top: 60px;
}

.explore .btn {
  border: 1px solid cadetblue;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 35px;
}

.explore .btn:hover {
  background-color: cadetblue;
}

.tours {
  width: 100%;
}

.row {
  height: 60vh;
}

.content-col {
  width: 60%;
  padding-left: 40px;
}
.content-col h1 {
  font-size: 2rem;
  position: relative;
  color: cadetblue;
  word-spacing: 10px;
}
.content-col p {
  color: grey;
  font-size: 15px;
}
.content-col .btn {
  border: 1px solid cadetblue;
  border-radius: 5px;
  background-color: dodgerblue;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.content-col .btn:hover {
  background-color: transparent;
  color: dimgray;
}

.img-col {
  width: 40%;
  padding-right: 30px;
}
.img-col .img-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
}
.img-col .img-gallery img {
  max-width: 270px;
  height: 35vh;
  margin: 15px;
}

#foot {
  background-color: slateblue;
  color: white;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=style.css.map */